---
import fs from "fs";
import matter from "gray-matter";
import path from "path";

const menuDir = path.resolve("./src/content/menu");
const files = fs.readdirSync(menuDir);

const items = files.map((file) => {
  const content = fs.readFileSync(path.join(menuDir, file), "utf-8");
  const { data } = matter(content);
  return data;
});
---

<html>
  <body>
    <h1>Menu</h1>
    <ul>
      {
        items.map((item) => (
          <li>
            <h2>{item.title}</h2>
            <p>{item.description}</p>
            <strong>{item.price}</strong>
            {item.image && (
              <img src={item.image} alt={item.title} width="200" />
            )}
          </li>
        ))
      }
    </ul>
  </body>
</html>
